@model IEnumerable<DentalClinic.Models.Patient>

@{
    ViewData["Title"] = "Queries";
}

<h1 style="text-align: center;">Adult Patients</h1>

<p>
  
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
           
            </td>
        </tr>
}
    </tbody>

</table>
<div>
    <a asp-controller="Admins" asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>